<!DOCTYPE html>
<html>
<head>
    <title>To-Do App</title>

    <link rel="stylesheet" href="../static/todo/css/style.css">
</head>
<body>

<h1>My To-Do List</h1>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Enter task">
    <button class="bt" type="submit">Add</button>
</form>

<ul>
    {% for task in tasks %}
        <li>
            <span class="{% if task.completed %}completed{% endif %}">
                {{ task.title }}
            </span>

            <a href="{% url 'toggle' task.id %}">✔</a>
            <a href="{% url 'delete' task.id %}">❌</a>
            <a href="{% url 'edit' task.id %}"><button class="bt1">edit</button></a>

        </li>
    {% endfor %}
</ul>
</form>


</body>
</html>