<!DOCTYPE html>
<html>
<head>
    <title>To-Do App</title>
    <style>
        .completed {
            text-decoration: line-through;
            color: gray;
        }
    </style>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<h1>My To-Do List</h1>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Enter task">
    <button type="submit">Add</button>
</form>

<ul>
    {% for task in tasks %}
        <li>
            <span class="{% if task.completed %}completed{% endif %}">
                {{ task.title }}
            </span>

            <a href="{% url 'toggle' task.id %}">✔</a>
            <a href="{% url 'delete' task.id %}">❌</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>