body {
    background: linear-gradient(135deg, #ffffff, #764ba2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #000000;
}

form {
    margin: 20px;
}

input {
    padding: 8px;
    width: 250px;
    border-radius: 20px;
}

.bt{
    padding: 8px 12px;
    background:linear-gradient(to right, #dde3eb, #ce7edb);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    color: #000000;
    
}

.bt:hover {
    background: linear-gradient(to left, #dde3eb, #c87dd4)
    
}
.bt1{
    padding: 1px 3px;
    background:linear-gradient(to right, #dde3eb, #a95ab5);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: smaller;
    

    
    
    
}
.bt1:hover{
    background: linear-gradient(to left, #dde3eb, #e37ef3)
}

ul {
    list-style: none;
    padding: 0;
    color: antiquewhite;
}

li {
    margin: 10px;
    color: rgb(228, 230, 230);
}

.completed {
    text-decoration: line-through;
    color: rgb(43, 255, 0);
}

a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(0, 255, 0);
    text-decoration: none;
}